{# templates/lucky/number.html.twig #}
<h1>
   {% if number > 50 %}
      Your lucky number {{ number }} is greater than 50
   {% else %}
      Your lucky number {{ number }} is less than 50
   {% endif %}
</h1>